.logo-container {
  text-align: center; /* 图片水平居中 */
}

.logo-container img {
  width: 291px; /* 设置图片宽度 */
  height: auto; /* 根据宽度等比例缩放高度 */
  max-width: 100%; /* 图片宽度不超过容器宽度 */
  max-height: 115.11px; /* 图片高度不超过115.11px */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* 使容器充满整个视口高度 */
}

.login-input {
  width: 291px;
  height: 42.2px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.login-button {
  width: 291px;
  height: 42.2px;
  border: none;
  border-radius: 10px;
  background-color: #9f1515;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

p {
  text-align: center; /* 将段落内容置中 */
  font-family: Microsoft JhengHei;
  font-weight: bold;
}

.centered-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: 20px; /* 左邊間距 */
  margin-right: 20px; /* 右邊間距 */
}

.question-mark {
  font-size: 16px; /* 调整问号图案的大小 */
  background-color: #9f1515;
  border-radius: 8px / 3px; /* 将背景调整为椭圆形（扁圆形） */
  color: #fff;
  padding: 5px; /* 增加内边距，使得圆形更加美观 */
  margin-right: 5px; /* 增加问号图案与文本之间的间距 */
}


#language-select {
  border: none; /* 设置无边框 */
  color: #9f1515; /* 更改文字颜色 */
  background-color: transparent; /* 设置背景透明 */
}

.cookie-button {
  border: 1px solid transparent;
  color: #9f1515; 
  background-color: #fff;
}

.all-container {
  width: 380px;
  height: 500px;
  border-radius: 10px; /* 設置圓角 */
  border: 1px solid #f9f9f9; /* 可選，設置邊框 */
  padding: 20px; /* 可選，設置內邊距 */
  background-color: #fefafa;
  margin: 0 auto;
}

body {
  background-image: url('BG.jpg');
  background-size: 100% 200%; /* 背景圖片填滿容器 */
  background-position: center; /* 將背景圖像置中 */
  background-repeat: no-repeat; /* 禁止背景圖像重複 */
}

